[2017-04-13 12:41] DanLuczywo opened #2 "Is it possible to use this plugin with Phonegap BUILD?"
Is it possible to use this plugin with Phonegap BUILD?

Thanks

[2017-04-14 06:57] mevinDhun commented on #2
Yes, it has been tested successfully on android via Phonegap build.

[2017-04-14 07:12] DanLuczywo commented on #2
Thanks for the fast response. What about iOS ?

[2017-04-14 11:01] mevinDhun commented on #2
Since the ios part of this plugin relies on the [swift-support plugin](https://github.com/akofman/cordova-plugin-add-swift-support) which uses hooks, it will not compile on phonegap build. Only when PGB allows running of cordova hooks, then this plugin will work. [Adobe clearly mentioned it has no intention of allowing hooks to run on the build service](https://forums.adobe.com/message/9318835#931

[2017-11-19 23:41] amittkSharma opened #4 "Need help for using plugin along with Multer"
Trying to use the Cordova-plugin-background-upload plugin along with Multer on the server side. The key in the Multer is defined as "XNAME", how can I configure the payload in order to use it properly. I am using the plugin for the Ionic 3 app. The current payload looks like the following as suggested in the documentation of the plugin.

var payload = {
      id: filename,
      filePath: targetPa

[2017-11-20 05:26] mevinDhun commented on #2
Hi @DanLuczywo the latest version of this plugin has been re-written on objective C and should now work on Phonegap Build.

[2017-11-20 05:26] #2 closed

[2017-11-20 06:02] mevinDhun commented on #4
Hi amit, i have added the fileKey parameter in v1.0.6.. Please upgrade to the latest version. Also, the ```api_key``` parameter is in the wrong place in the payload it should be inside the headers object like this:

[code]

[2017-11-20 10:20] amittkSharma commented on #4
Hi Mevin,

Thanks for the reply and fix. But I checked the NPM page for the plugin the version stated over there is v1.0.2 and even in the releases section on Github I didn't find v1.0.6.

Thanks
-Amit

[2017-11-20 16:18] mevinDhun commented on #4
Here it is:
[https://www.npmjs.com/package/cordova-plugin-background-upload](https://www.npmjs.com/package/cordova-plugin-background-upload)

[2017-12-14 07:43] #4 closed

[2018-01-03 10:26] CharlesPoullain opened #5 "Android compatibility"
Hello, I am trying to use your awesome plugin to upload video on a server from a mobile app.
It actually worked on ios but not in android. I don't know why it isn't working to me. Should I use a different  configuration on the payload file for both os ?

Best Regards

[2018-01-03 13:06] mevinDhun commented on #5
Hi, are you getting any specific errors? Can you provide some logs? Did you try the sample app in the repo?

[2018-01-03 13:58] CharlesPoullain commented on #5
Thanks you for you prompt response.
I am currently use Monaca not Ionic.
When I tryed to upload a video on android, the upload.error tell me : "execute failed". And when I checked my device logs, it seems to be linked to the permissions : " App onError: java.io.FileNotFoundException: /storage/emulated/0/DCIM/Camera/VID_20180103_144532.mp4 (Permission denied)"

[2018-01-03 15:26] CharlesPoullain commented on #5
Thanks you for your prompt response.
I just fix the issus. I added some android permissions to read the storage.
Thanks a lot !

[2018-01-03 15:26] #5 closed

[2018-01-04 17:15] iwan-uschka opened #6 "possible feature: abort running upload"
Hi there, do you plan to include a function for aborting running requests? Just asking because i evaluate to use other solutions than [cordova-plugin-file-transfer](https://github.com/apache/cordova-plugin-file-transfer). Thanks

[2018-01-19 15:56] gkimpson opened #7 "Full installation/setup instructions for this plugin?"
This looks like a really good plugin however having difficulty getting this to work - do you have any more in-depth instructions on setting this all up? thanks 👍

[2018-01-22 06:22] mevinDhun commented on #6
Hi,
There is a method to cancel an upload:
[code]

I'll update the docs to make it more clear.

[2018-01-22 06:22] mevinDhun commented on #7
Hi,
Can you provide me more details on exactly what issues you are encountering?

[2018-01-22 06:59] peratik opened #8 "two issues"
Hello.

1. Referring to the docs:
[code]

It should be:  `uploader.startUpload(payload );`

2. Please add response utf-8 support. If response is in utf-8 it displays ? charchters.

Thank you

[2018-01-22 11:36] gkimpson commented on #8
@peratik did you manage to get this plugin to work? If so you would you be able to share this working app?

[2018-01-22 11:59] peratik commented on #8
no, i used official cordova file transfer plugin

[2018-01-22 12:59] gkimpson commented on #8
@peratik have you used the official file transfer plugin with background processes? As that is what I am trying to achieve - a process that will only run when required e.g not have the app running constantly only when there is something to transfer

[2018-01-23 08:49] peratik commented on #8
First I tried to use your plugin, because it did not support utf--8 I removed plugin and installed official cordova file transfer plugin.

[2018-01-23 12:40] mevinDhun commented on #8
@peratik Can you provide with more details? What content is the server returning? Do you have sample which i can try to reproduce the issue?

[2018-01-24 16:32] gabrielcarvalhogama opened #9 "Finished all uploads on an foreach async"
Hi!

[code]

I need a way from know when ALL images were uploaded to show an "alert".
[code]

[2018-01-25 05:55] mevinDhun commented on #9
Hi, you can use a counter to keep track of the number of completed uploads, it seems you already have ```photosSended```

Here is an example:
[code]

[2018-01-26 07:53] #6 closed

[2018-01-26 07:53] #9 closed

[2018-01-26 10:37] iwan-uschka commented on #6
Thanks for letting me know. I only searched for "abort" or "cancel", not for "remove" in the sources :) great. cheers

[2018-01-29 06:07] mevinDhun commented on #8
Type in README fixed.

[2018-01-29 06:07] #8 closed

[2018-02-11 18:55] iwan-uschka opened #10 "file not found"
Tried to get this plugin to work. Til now i used `cordova-plugin-file-transfer` and this was working. Now by using `cordova-plugin-background-upload` i get the following error

[code]

Any ideas?

[2018-02-12 05:35] mevinDhun commented on #10
Hello, are you sure ```?1518374281044``` is part of the file name? Can you try with a file that ends with a file extension instead?

[2018-02-12 07:04] iwan-uschka commented on #10
This is how i dot it:

[code]

`endpoint` is an endpoint, which exists and works with `cordova-plugin-file-transfer`. `file` contains a value given from `cordova-plugin-camera`. I just tested it again getting

[code]

as return value from `cordova-plugin-camera`. `cordova-plugin-file-transfer` works.

Sorry to compare the whole time with `cordova-plugin-file-transfer`. Just want to locate the issu

[2018-03-22 17:06] CharlesPoullain opened #11 "Abort upload don't work"
Hi !
Tried to abort an upload in progress with this

`uploader.removeUpload(uploadId, function(e){
            console.log("upload aborted",e)
        }, function(err){
            console.log("upload not aborted",err)
        });`

I have the answer "Ok" on e event but it does nothing and the upload normally ends.
Any thoughts ?

[2018-03-30 10:22] mevinDhun commented on #7
closing due to inactivity

[2018-03-30 10:22] #7 closed

[2018-04-03 08:45] CharlesPoullain commented on #11
Nobody can answer me ?

[2018-04-03 09:42] mevinDhun commented on #11
Hi, on what platform are you having this issue? Can you please provide me with the following info:
-Platform name
-Platform version
-Plugin version
-Any logs if available

[2018-04-09 07:11] mevinDhun commented on #11
Hi, i have been able to reproduce this issue on android and pushed a fix. Can you please try with the latest version from master?

[2018-05-16 07:31] nasir7748 commented on #10
FilePath.substring(FilePath.lastIndexOf("/") + 1, FilePath.lastIndexOf("?"));
try this

[2018-07-09 15:23] thekily opened #13 "FileTransferManager is not defined when production build"
When I build the android app with ionic cordova build android --prod
I install it on device, then appears this error:
Uncaught ReferenceError: FileTransferManager is not defined
    at Object.335 (main.js:1)
    at e (vendor.js:1)
    at window.webpackJsonp (vendor.js:1)
    at main.js:1

It seems due to declaration var:
declare var FileTransferManager: any;

[2018-07-11 12:02] mevinDhun commented on #13
I just tried with demo project and it built successfully using cordova cli 8.0 and ionic 3.20. Did you encounter your issue with the demo project?

[2018-07-21 15:00] chilimix opened #14 "Android - onCompleted does not handle status code 4xx or 5xx"
I would be nice with an option to treat specific http status codes as errors :)

[2018-07-31 10:50] mevinDhun commented on #14
This is by design. An upload is considered successful when the file has been uploaded irrespective of what the server replies. It's your app that needs to handle that case. Here's an example:
[code]

[2018-08-06 08:58] MatanYed opened #16 "Support older iOS version"

[2018-08-06 09:00] #16 closed

[2018-08-10 02:48] marcosteotonio opened #17 "cordova-plugin-background-upload/FileUploadManager.m, line 546."
This error is always giving I do upload an IOS image

[2018-08-10 05:26] mevinDhun commented on #17
What error are you getting? Can you post some ios logs?

[2018-08-10 11:15] marcosteotonio commented on #17
2018-08-10 08:12:48.348820-0300 Significa Oficina[1029:254163] THREAD WARNING: ['Console'] took '20.521240' ms. Plugin should use a background thread.
2018-08-10 08:12:48.697287-0300 Significa Oficina[1029:254163] THREAD WARNING: ['File'] took '347.782715' ms. Plugin should use a background thread.
2018-08-10 08:12:49.760708-0300 Significa Oficina[1029:254163] {"status":"error","msg":"Arquivo /hom

[2018-08-10 11:31] marcosteotonio commented on #17
In android works perfectly, but in IOS does not work and closes the application

[2018-08-15 18:53] diogeneshamilton commented on #17
I just got the exact same error. Changing withIntermediateDirectories to YES fixed it for me:

` success = [[NSFileManager defaultManager] createDirectoryAtURL:uploadDirURL withIntermediateDirectories:YES attributes:nil error:NULL];
`

[2018-08-16 11:03] #17 closed

[2018-08-16 20:43] diogeneshamilton opened #19 "THREAD WARNING: ['FileTransferBackground'] took '11.648193' ms. Plugin should use a background thread."
Are there any plans to make this run on a background thread?

[2018-10-24 14:37] PraveenBiradar commented on #13
Yes,i encountered the issue with demo project

[2018-10-25 12:28] PraveenBiradar opened #20 "FileTransferManager is not defined"
I am getting FileTransferManager is not defined error

[2018-11-22 23:47] imabasghar opened #21 "Need help for using this plugin with cordova code push"
Platform: iOS

After downloading and installing the latest package using code push, we restart the app. But when we restart the app, it crashes because of

File FileUploadManager.m:
[code]

So I was thinking if there is any way we can stop the session through the plugin before restarting the app, because I see a stop method in the same file.

[2019-01-24 18:43] tbassett44 opened #22 "App crashes on window.location.reload or window.location.href='index.html'"
When I reload my app from a code update in the JS world, I have been doing window.location.href='index.html', the problem with this is that it seems ios crashes when it tries to rebind/re-init FileTransferManager.init().  My guess is that this can only be bound once...but it would loose reference in the JS world when the window is reloaded.  Is there an unbind command or would it be possible to un

[2019-02-11 11:02] assertdesignuk commented on #22
Yeah I have same issue. When the app refreshes after being in the background too long, the object is already initialised and fails to init again and causes a crash.

[2019-02-11 11:09] assertdesignuk commented on #22
Okay I have managed to create a fix for this and will be creating a fork.

[2019-02-11 22:11] tbassett44 commented on #22
Wow, awesome, please let me know when you have it up.  Thanks @assertdesignuk !

[2019-02-11 22:54] assertdesignuk commented on #22
Here ya go:

https://www.npmjs.com/package/cordova-plugin-background-upload-ad

[2019-02-12 02:36] tbassett44 commented on #22
Wow, thank you @assertdesignuk !  <3

[2019-02-12 05:50] mevinDhun commented on #22
Hi, @tbassett44 I have been busy and did not check this issue. @assertdesignuk can you create a pull request for your changes?

[2019-02-12 05:51] mevinDhun commented on #20
Add the following code:
[code]

[2019-02-12 05:51] #20 closed

[2019-02-12 05:51] mevinDhun commented on #14
closing due to inactivity

[2019-02-12 05:51] #14 closed

[2019-02-12 05:52] mevinDhun commented on #13
@PraveenBiradar can you post your cordova/nodejs version?

[2019-02-12 05:52] mevinDhun commented on #10
closing due to inactivity

[2019-02-12 05:52] #10 closed

[2019-02-12 05:53] mevinDhun commented on #19
@diogeneshamilton  Feel free to make a PR for it and we can review and eventually merge.

[2019-02-12 05:55] mevinDhun commented on #21
This seems to be related to reloading of the page:
[https://github.com/spoonconsulting/cordova-plugin-background-upload/issues/22](https://github.com/spoonconsulting/cordova-plugin-background-upload/issues/22)

[2019-02-12 09:35] assertdesignuk commented on #22
Sure no problem.

[2019-02-12 14:33] iwan-uschka commented on #10
Sorry i haven't responded anymore, plans changed since then. Anyway: thx for looking into it!!!

[2019-02-12 16:07] tbassett44 commented on #22
@mevinDhun, we reload the page when there is an update to our production JS code we want to push.  I tested @assertdesignuk's code yesterday and it seemed to fix the problem.

[2019-02-18 05:31] mevinDhun commented on #22
@tbassett44 @assertdesignuk I have published v1.0.13 on npm. This should fix the issue.

[2019-02-18 05:31] #22 closed

[2019-02-18 05:32] mevinDhun commented on #21
@imabasghar Can you try v1.0.13 on npm? This should fix your issue

[2019-04-03 09:25] abhishekporwal opened #28 "File not Found error on android"
Hi,

I am using this plugin and it is working perfectly fine. The only scenario where it is failing is when i am trying to upload the images from Android Gallery. I am using cordova-plugin-telerik-imagepicker plugin to pick multiple images from the gallery and when i pass on all the images to upload to server i am getting upload error saying the file does not exist.

Thanks

[2019-04-03 09:33] mevinDhun commented on #28
HI @abhishekporwal
Make sure there are no spaces in the file paths you are providing to the uploader. I use same plugin in another project and the uploader works as it should. But it my case, i renamed all images to a UUID.

[2019-04-03 10:07] abhishekporwal commented on #28
Thanks @mevinDhun. I'll double check for the spaces but i am sending the same path to the uploaded which is returned by the image picker plugin.

[2019-06-11 07:41] Shtibel opened #33 "Show notification with progress"
Hi there,
I am using this plugin on ionic app.
How can I show a notification of the upload progress in Android and IOS ?

Thank you.

[2019-06-20 14:09] mevinDhun commented on #33
@Shtibel There is currently a nearly completed PR which provides progress notifications on Android:
https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/32
On ios, it is not possible to show a progress bar in notification center and currently notifications are not supported for this platform.

[2019-06-21 05:52] #21 closed

[2019-06-21 05:53] #28 closed

[2019-06-21 06:37] #13 closed

[2019-06-26 15:15] benjisimon opened #35 "iOS upload results in PHP upload error UPLOAD_ERR_PARTIAL (3)"
Howdy -

I've integrated this plugin into my ionic 3 app and it works great form me on iOS.  My boss, however, is consistently running into an upload issue.

The problem: the php upload script is reporting an error, UPLOAD_ERR_PARTIAL, and therefore the bytes of the upload file are unavailable.

To debug this further, I grabbed the demo code you provided and updated the POST URL to a URL that stor

[2019-07-03 14:03] benjisimon commented on #35
FYI, I figured out the cause of this problem.

It had nothing to do with this plugin, iOS or Cordova. The problem was a slow connection and running into the Apache RequestReadTimeout.

Here's the whole story: http://www.blogbyben.com/2019/07/one-wicked-bug-fixing-php-upload-error-3.html

[2019-07-03 14:03] #35 closed

[2019-09-12 14:44] hansenundtoth opened #48 "NetworkMonitor does not work properly?"
Hey,
If i add a File without any connection and then activate cell or wifi, the plugin does not do anything.

For my understanding it should try to upload the file after the network-state changed.
I'm using your plugin with cordova and together with the "cordova-plugin-network-information"-plugin.

Kind regards
Sascha

[2019-09-13 12:27] mevinDhun commented on #48
@hansenundtoth The plugin will store the files in a queue if there is no internet at the time of upload. On android it will monitor when a network is available and will retry automatically while on ios the system will determine the retries based on network conditions.

[2019-09-13 12:29] mevinDhun commented on #33
Upload notifications are now supported on master version

[2019-09-13 12:29] #33 closed

[2019-09-13 12:34] hansenundtoth commented on #48
Hey, but unfortunately this doesnt work on our huawei-devices.
I've added a file in airplane-mode and after deactivating airplane-mode the app or this plugin wont retry to upload nor trigger any event-handler.
If i restart the app the plugin will trigger the error-handler as desired.

[2019-09-16 05:51] mevinDhun commented on #48
@hansenundtoth Have you been able to reproduce this issue on other devices? Unfortunately i do not have a Huawei device to test this.

[2019-09-16 09:31] hansenundtoth commented on #48
im able to reproduce it. Even in an Pixel-Tablet Emulator.
If i can help with any further infomation. let me know. :-)

[2019-09-16 20:00] hansenundtoth commented on #48
Alright... i debugged a bit in my Emulator and found this:
The NetworkMonitoring is fine and works well.

This is what happens:
Step 1: I add my File(s) in airplane-mode
LOG:  D/FileTransferBG: adding upload 3231
LOG: D/FileTransferBG: Upload failed. Image added to pending list

Step 2: i disable Airplane-Mode:
LOG: D/FileTransferBG: detected network change, Connected:true
LOG : D/FileTransferBG:

[2019-09-17 09:36] mevinDhun commented on #48
@hansenundtoth You are right. It should not be checking for duplicate upload from pending list in upload.
Can you try this PR to see if it fixes the issue?
https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/50

[2019-09-17 13:03] hansenundtoth commented on #48
Sure. Will be my first PR but ill do my best.

[2019-09-20 22:02] #48 closed

[2019-10-16 10:43] #19 closed

[2019-10-24 16:30] lupin72 opened #61 "iOS 13.1.3 upload error"
Hi,
after upgrading iOS 13.1.3 the plugin stopped working. When I try to upload a file (video), it stops with an undefined error: ERROR: uploader caught an error: undefined
The last task logged is: "did sync upload tasks"
I'm using the plugin in an Ionic 3 project. The plugin works correctly in iOS 13.1

Regards,

Pier

[2019-10-24 18:24] lupin72 commented on #61
The plugins works fine. The problem is generated by cordova-plugin-camera. If someone is experimenting the same issue, there's a temporary workaround here: https://github.com/kkabell/cordova-plugin-camera/commit/b1b0c9499b6b5c18d109671967e1218e05428e0a

[2019-10-24 18:24] #61 closed

[2019-12-04 12:22] omardoma opened #62 "Add the ability to set the HTTP Method of the request (PUT, PATCH) and etc..."
Great work on the plugin, works perfectly and saved my team a lot of time and effort to implement what we needed!

One thing though that I can't seem to find is the ability to set the HTTP request's method as not all of my uploads are POST. It will be great if it can be added in the next version.

[2019-12-04 13:20] mevinDhun commented on #62
Hi @omardoma, thanks for using the plugin. We currently do not have any plans on adding this feature but pull requests are most welcome.

[2019-12-04 13:32] omardoma commented on #62
@mevinDhun Thank YOU for creating the plugin! if thats the case then I will try to add it and create a pull request whenever I have the time, maybe in the coming weekend.

[2019-12-06 12:45] omardoma opened #63 "Uploads are processed concurrently not only 1 at a time on iOS"
The docs says that only 1 concurrent upload is supported at the moment which implies that the plugin queues uploads, while this is true for Android as it does process one upload at a time, I found that on iOS queuing does not occur and all uploads are processed at the same time.

is there something I am missing or that is not the intended behavior?

[2019-12-06 12:49] omardoma opened #64 "upload.serverResponse is a JSON string not parsed on Android"
On iOS, the upload serverResponse is a parsed JSON into an object literal, but on Android its an unparsed JSON string.

It results in an inconsistent API that forces me to handle it like that:

[code]

[2019-12-10 05:55] mevinDhun commented on #63
On ios the queue management is done by the system daemon. The concurrent limit has been hardcoded to 1 as seen here:
https://github.com/spoonconsulting/cordova-plugin-background-upload/blob/master/src/ios/FileTransferBackground.m#L221

According to apple docs, using `HTTPMaximumConnectionsPerHost ` will limit the concurrent connections.
https://developer.apple.com/documentation/foundation/nsurlses

[2019-12-10 06:02] mevinDhun commented on #64
Yes it is a valid bug. We are currently working on a new version which should fix all these issues and have Travis tests setup. The v2 version uses `AFNetworking` internally on ios.
If you wanna have a look, checkout the `afnetworking` and `android_v2` branch.

[2019-12-10 09:05] omardoma commented on #63
No I am uploading to the same exact serverUrl but uploads queue only on Android, on iOS all of them start right away

[2019-12-10 09:07] omardoma commented on #63
I guess this is the reason: https://stackoverflow.com/questions/51607333/nsurlsession-httpmaximumconnectionsperhost-not-working-as-expected

I am using HTTP 2

[2019-12-10 09:09] omardoma commented on #63
HTTP 2 uses only 1 Connection and multiplexes a lot of requests on it, that's why to the plugin I am indeed using 1 connection only.

Queueing will only work with HTTP 1.1

[2019-12-10 09:12] omardoma commented on #64
Alright great to hear that the plugin is being improved as me and my team rely on it for a lot of things.

Thanks for the hardwork, and if you need me to beta test something would be more than happy to help out.

[2020-01-10 00:06] chasedeanda opened #69 "Ionic 3 Support"
I've been working the last few days on implementing this plugin in Ionic and I have hit a dead end. Is this plugin supported in Ionic 3 and if so are there any examples?

Thank you for your time!

[2020-01-10 00:23] chasedeanda commented on #69
Closing, I got it working. For anyone else looking:

- Add plugin to app `ionic cordova plugin add cordova-plugin-background-upload`
- In the file you are using it add `declare var FileTransferManager: any;` to the top of the file
- Wait for the platform to be ready `this.platform.ready().then( () => this.uploader = FileManagerTransfer.init() `
- Setup plugin event handlers

[2020-01-10 00:23] #69 closed

[2020-02-03 07:57] #63 closed

[2020-03-23 05:15] CyberCyclone commented on #62
For those that have found that this plugin doesn't work with AWS S3, it's because of this issues. I.e, the plugin using POST when S3 needs PUT.

[2020-03-24 05:00] CyberCyclone opened #86 "Video upload corrupted"
Hi,

Can someone please explain why this is added to the start of the file and also at the end?

`--Boundary-8BDE7C70-89B7-40AA-B889-3B17B2C8793F
Content-Disposition: form-data; name="file"; filename="1585023559770.mp4"
Content-Type: application/octet-stream`

I don't see how any file could open correctly after having this text added to the file. Is this a side-effect of me forcing the plugin to u

[2020-03-24 16:32] ombr commented on #86
Hi,

The upload is form encoded. You have to decode it to get your file.

Luc

[2020-03-25 01:23] CyberCyclone commented on #86
That's where it's gone wrong for me. I'm uploading directly to S3 and since it dumps it as is due to it being serverless, the added data is kept there.

[2020-03-25 01:23] #86 closed

[2020-03-25 11:57] ombr commented on #86
Hum, this is an issue, could you try to use the afnetworking branch ? (It is a new version of the plugin ?) Thanks.

[2020-03-27 14:58] priyalakshmis opened #87 "cordova-plugin-background-upload compatible with AngularJs ?"
Is this plugin compatible with AngularJs

[2020-03-27 15:25] priyalakshmis commented on #87
I am getting FileTransferManager is not defined error
![image](https://user-images.githubusercontent.com/18349311/77771833-3cadf100-706d-11ea-9cd9-426e2c311066.png)

[2020-03-27 16:56] ombr commented on #87
It is but you need to wait for the platform ready event from Cordova.

[2020-04-01 06:12] priyalakshmis commented on #87
Thanks, I did that. But got error in generating the APk, the error related to Gradle.
![image](https://user-images.githubusercontent.com/18349311/78105041-e1358780-740d-11ea-9fd7-fc07ce21a000.png)
i am using Android 7.1.4.. so mostly this can be the reason ?

[2020-04-02 22:53] piercers opened #88 "Out Of Order Uploads."
We're queuing up a large set of files to be uploaded and need to preserve the order in which they're added. Unfortunately, we're seeing some chunks of the list of items uploaded out of order. For example in a batch of 100 items, the first third would upload in the correct order, then it would choose a random one from later in the list, then it would jump to the last third before finishing up the r

[2020-04-03 13:15] ombr commented on #88
Hi,

Could you explain your use case. Why do you need to keep the order ? (I am trying to understand why it should be usefull ?)

Thanks.

Luc

[2020-04-03 14:07] piercers commented on #88
Hi Luc!

Users on our client side are able to customize the order of images taken before the application uploads them, and the API we're communicating with assumes the order in which it receives photos is the order set by the client.

Does that help?

[2020-04-03 21:24] piercers commented on #88
This is good information, thank you very much.

Your recommendation is along the same lines as one option we had considered as well so we'll probably go with that: have a middleware service enforce the order.

Super easy to use plugin -- thanks for the time!

[2020-04-03 21:24] #88 closed

[2020-04-06 13:35] ombr commented on #88
@piercers you are welcome, you can try the new version which should be released soon, on afnetworking branch)

[2020-05-05 23:03] albertleao opened #89 "Unknown error in Android 10"
Used to work just fine, but now identical code always returns the following in my error handler

`{id: "20200415_210326.mp4", error: "upload failed"}`

Followed by

`{id: "20200415_210326.mp4", error: "execute failed", state: "FAILED"}`

These are the parameters I pass into the startUpload method:

[code]

Running android 10 on a Samsung Galaxy s10+

I'm wondering if it has to do with this: https:

[2020-05-06 00:12] albertleao commented on #62
@CyberCyclone Is this a recent issue? I used to be able to upload to s3 just fine but recently it stopped working.

[2020-05-06 00:23] CyberCyclone commented on #62
@albertleao I don't see how it could have worked before. As far as I know, S3 doesn't have a handler / runner that would be able to process form types. As in, this plugin deliberately adds form headers and footer data of which a HTTP server would typically removed. Since S3 simply dumps whatever it's been given. So while you can definitely upload, it will appear corrupt.

Since there isn't any pla

[2020-05-06 00:26] albertleao commented on #62
@CyberCyclone Just tested it and it's working fine in iOS with direct upload to s3.

[2020-05-06 01:02] albertleao commented on #89
I'm wondering if it has to do with this: https://stackoverflow.com/a/58934803/2093658

[2020-05-06 16:49] ombr commented on #62
Hi @albertleao  we are currently working on a new version of the plugin. You should check this version: https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/84
We are direct uploading on s3 without any issue.

[2020-05-06 16:51] ombr commented on #89
Hi @albertleao could you try this branch ? https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/84 and let us now if you are having the same issue ? Thanks.

[2020-05-07 20:52] albertleao commented on #89
@ombr Hey! I'll be able to test this tonight and let you know.

[2020-05-08 05:21] albertleao commented on #89
@ombr Unfortunately that branch did not work. I had the following error on upload:

[code]

[2020-06-03 20:51] shadowfoxish opened #102 "Are cookies appended to the HTTP requests?"
My cordova application targets iOS and Android and we're using this plugin to upload pictures to an ASPNET Rest API service. The Application authenticates to the API using a cookie, something like ".ASPXAUTH". On Android devices, we're seeing an issue where cookies are not being appended to the uploads so they're failing. (debugging the actual requests shows 0 cookies).

In the headers section of

[2020-06-04 06:51] azharbeebeejaun commented on #102
It should be added to the headers manually.

[2020-06-04 13:32] shadowfoxish commented on #102
Thank you very much for answering my question, @azharbeebeejaun

[2020-06-04 13:32] #102 closed

[2020-06-18 11:43] koczka commented on #89
I have the exact same issue. Any updates on the fix?

[2020-06-19 12:39] ombr commented on #89
Hi @albertleao @koczka, we are still working on the new version.

Could you try this branch ? afnetworking-spx-demo

We will replace the current master with this new version in a few week.

[2020-06-19 12:42] koczka commented on #89
Sure, I'm going to try it right now.

[2020-06-19 12:50] ombr commented on #89
I think you will need to remove your platform and plugin directory and restart a build.

[2020-06-19 12:52] koczka commented on #89
It still fails with the same error on a full clean platform install.

[2020-06-19 13:05] ombr commented on #89
I will check on my side and get back to you when we have a new version fixing this.

[2020-06-24 07:11] koczka commented on #89
Thank you for your time! Do you have any updates on this case?

[2020-06-25 10:33] sc-nick commented on #89
Try

`<plugin name="cordova-plugin-background-upload" spec="https://github.com/spoonconsulting/cordova-plugin-background-upload.git#afnetworking-spx-demo" />`

instead of

`<plugin name="cordova-plugin-background-upload" spec="~2.0.2" />`

in your config.xml

[2020-06-25 10:41] koczka commented on #89
Thanks, I was able to install the plugin this way, I'm gonna check the function to see if the uploads are working.

[2020-06-25 11:17] sc-nick commented on #89
Does the notification appear?

[2020-06-25 11:59] koczka commented on #89
I had the `showNotification` set to false, and I got the error above.
I set notifications to true, and it did show up in the notification centre, but now I get the execute failed error again.

[code]

Here's my config
[code]

[2020-06-25 12:18] sc-nick commented on #89
In android >= 8 foreground services must display a notification

[2020-06-25 12:44] sc-nick commented on #89
In Android >= 8  foreground services must display a notification. Did you check your upload parameters?

[2020-06-25 12:45] sc-nick commented on #89
Android >= 8 foreground services must display a notification. Did you check your upload parameters?

[2020-06-25 12:49] koczka commented on #89
I set `showNotification ` to `true` as I stated above, but then I get the original `execute failed` error again.

[2020-06-25 13:24] sc-nick commented on #89
Ok, so paste your upload config because I can't reproduce the error (parameters you pass into startUpload)

[2020-06-25 13:31] koczka commented on #89
Here's an upload object

[code]

[2020-06-25 15:46] sc-nick commented on #89
It should work, please check the [demo](https://github.com/spoonconsulting/cordova-plugin-background-upload/tree/afnetworking-spx-demo/demo) in case you missed something

[2020-07-03 06:44] koczka commented on #89
The uploads are working now, but I can't seem to get the event callback to fire.

[2020-07-03 07:40] sc-nick commented on #89
More details pls

[2020-07-03 07:41] koczka commented on #89
I'm using the init function from the demo you linked in your previous command, but I can't see any logs about the events.

[2020-07-03 07:47] sc-nick commented on #89
The event is null?

[2020-07-03 07:51] koczka commented on #89
No, it simply doesn't get called.

[2020-07-03 08:05] sc-nick commented on #89
Could you paste your init?

[2020-07-03 08:09] koczka commented on #89
It's literally copied from the demo, but there you go

<details>
  <summary>Init code</summary>

[code]
</details>

[2020-07-03 08:26] sc-nick commented on #89
Weird, but you said that the upload works

[2020-07-03 08:28] sc-nick commented on #89
How about the upload status (success, failed)? Which version of Android?

[2020-07-03 08:32] koczka commented on #89
Yeah, the upload works fine. It's android 8.0.0

[2020-07-03 12:09] sc-nick commented on #89
I tested it with the same android version and it works.
And this?

`console.log('file uploader init');`

[2020-07-03 12:20] sc-nick commented on #89
I tested it with the same android version and it works, no error in chrome inspect?

[2020-07-03 12:31] sc-nick commented on #89
Try to init once platform is ready

[code]

[2020-07-03 12:32] sc-nick commented on #89
Try to init once platform is ready

`this.platform.ready().then(() => {
    ...
});`

[2020-07-03 12:38] koczka commented on #89
No error, nor any warning. It runs after `platform.ready()`

[2020-07-06 09:00] koczka opened #105 "Changing hash size on filename"
Hi,

Is it possible, to configure the hash size at the end of the filename?

[2020-07-06 12:14] #105 closed

[2020-07-09 15:25] ombr opened #107 "Cdvfile as input"
In order to be compatible with cordova other plugins we should handle cdvfiles as input.

[2020-07-24 05:26] nkprince007 opened #109 "Success, error event callbacks not fired"
This is not happening as expected, when I start an upload from an Angular 7 service. Without which I can't detect if or not an upload was done and as such delete the file.

[2020-08-11 18:12] ombr commented on #89
@koczka did you manage to make it work the way you want ? Did you manage to make the demo work on your side ?
Thanks.

[2020-08-11 18:30] ombr commented on #109
Hi @nkprince007,

We are currently working on a new version. Could you try it and let us now if you have any issue with it.

https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/106

Thanks in advance.

[2020-12-02 21:27] dogofpavlov opened #117 "Can't seem to get upload to work :("
Hello! Thank you for taking the time to create and update this plugin... I really appreciate it.

I believe I have it setup exactly as shown in the install... but when I run the "startUpload" method, I don't see anything happening at all... no notifications, no network traffic, nothing.

`
	uploader = FileTransferManager.init({parallelUploadsLimit:2},($event)=>{
		console.log("this NEVER FIRES");

[2020-12-03 16:32] ombr commented on #117
Hi Ryan,

Could you try this branch : v2-0-0 and you can check a demo on this branch: afnetworking-spx-demo-build

And let me know if it is not working as expected ?

Thanks.

Luc

[2020-12-03 17:22] dogofpavlov commented on #117
thank you for the reply. I actually before I saw your reply... realized that I was using the version on npm directly... after I changed it to point to the github plugin itself, now it seems things are working!

[2020-12-04 13:13] ombr commented on #117
Great !

[2020-12-04 13:13] #117 closed

[2020-12-04 18:33] chancezeus opened #126 "Android Application crash"
I have been trying to get this plugin working and after some trail end error I finally managed to get it to start (using the v2-0-0 branch, other branches either simply didn't work or gave random errors during plugin add and/or compile), however now the following problem occurs and the application crashes completely

[code]

From the docs of the relevant package "net.gotev:uploadservice" it seems

[2020-12-10 14:28] ombr commented on #126
Hi @chancezeus,

You are right, we will try to fix this but meanwhile you are more than welcome to send us a pull request ;-)

Thanks.

Luc

[2021-03-30 15:15] jomorr2 opened #129 ""Sample Usage" question"
I am fairly new writing Cordova apps \ Javascript.  I am working on an app that allows users to upload videos to a server, and this plugin seems like a great way of doing it.  However, I can't seem to get it working.

Based on the "Sample Usage" section of the Readme:

[code]

When I put this in my javascript, after the deviceready event, it hangs on the declare.  I'm not sure what I am missing he

[2021-04-01 17:17] ombr commented on #129
Hi @jomorr2,

We just merged a new version of the plugin. Can you test it ?
We've included a demo folder here: https://github.com/spoonconsulting/cordova-plugin-background-upload/tree/master/demo where you can have a sample integration.

Thanks.

Luc

[2021-04-08 16:53] m-s-morgan opened #136 "Support for Public Use?"
Hi guys, just wondering if you stopped supporting this plugin for public use. Unless there's a strange issue on my end, it doesn't seem like any releases have been published to NPM since v1.1.0 and the addition of this in the plugin.xml makes it not so friendly for use.
[code]
It's no big deal if that was the decision made, I just wanted to confirm with you all what your plans were for this plugin

[2021-04-08 18:41] ombr commented on #136
Hi @m-s-morgan,

We are still supporting this plugin, but realized we were doing it wrong in the previous version:

The plugin is getting notifications from the os while the webview is off, so we have to save the notification in a database to replay them later to the webview.

We decided to use http://satyan.github.io/sugar/index.html as the ORM to do this quickly.
I understand the way SugarORM ne

[2021-04-13 16:03] m-s-morgan commented on #136
Thanks Luc, appreciate the explanation.

[2021-04-13 16:03] #136 closed

[2021-04-21 11:48] azharbeebeejaun commented on #126
Hi @chancezeus,

I'm late but did you manage to get a fix for this error?
Were you able to reproduce this every time? On what device/emulator was it?

[2021-04-23 12:02] chancezeus commented on #126
It happened all the time if the application was closed with one or more uploads queued and it was on every device/emulator I tested it with.

I have not managed yet to get a (clean enough) fix for the issue, but it should be as simple as creating a custom application class which in turn extends the "com.orm.SugarApp" application class and add the required config in onCreate of that app instead of

[2021-04-23 12:21] azharbeebeejaun commented on #126
Was it online or offline? I'm not able to reproduce this at all but can see some devices having crashes. Could you provide like a video or something if possible please ? Or even, some steps you're fairly sure will help reproduce this error.

Thanks a lot.

[2021-04-29 16:30] michitosh opened #139 "Crash on iOS Device"
The App crashes on iOS when FileUpload Instance tries to start the upload.
Below I've added the log from XCode.
I verified that the Files are stored and can be accessed.

This is an example file path:
file:///var/mobile/Containers/Data/Application/7F49940A-F985-414B-9E82-59659C24E111/Documents/<<my folder>>/1619712518272.jpg

2021-04-29 18:08:46.639513+0200 GEOPLORE[5587:1210933] **will start <Fil

[2021-04-30 05:32] azharbeebeejaun commented on #139
Hi @michitosh,

Could you provide more details on the iOS version and device used? And how the plugin has been initialized and is being used in the code? We might not be getting into this debug right now but a PR with the necessary fixes will be most welcome and greatly appreciated.

Thanks,
Azhar

[2021-04-30 07:21] michitosh commented on #139
Hi @azharbeebeejaun ,

Cordova v10.0.0
Cordova iOS v6.2.0
iPhone X iOS 14.5

The Plugin is initialized in the device ready listener:

`document.addEventListener('deviceready', function () {
    uploader = FileTransferManager.init({
        parallelUploadsLimit: 5
    });
    uploader.on('success', function (upload) {
        uploader.removeUpload(upload.id, function () {
            //upload abort

[2021-05-03 13:54] ombr opened #140 "Next version requirments"
- [ ] Some library need to be started when the application start (SugarORM and gotev upload lib) This is not a cordova plugin best practice and creates a few crash. We would like to remove this startup requirement. We think we should replace the two libraries with native code.
- [ ] We need the plugin to gracefully update (SugarORM has an Sqlite database to store the pending uploads) and an update

[2021-05-21 04:36] hodlonaut commented on #136
@m-s-morgan @ombr so what is the recommended way of dealing with the 'Failed to install '<plugin name>': Error: <plugin name> cannot be added. <edit-config> changes in this plugin conflicts with <edit-config> changes in config.xml. Conflicts must be resolved before plugin can be added. when trying to use latest versions of this? If I remove the edit-config in the plugin my parent application build

[2021-05-21 05:50] azharbeebeejaun commented on #136
@hodlonaut take a look at how it was done in tag [2.0.3](https://github.com/spoonconsulting/cordova-plugin-background-upload/releases/tag/2.0.3).
[plugin.xml](https://github.com/spoonconsulting/cordova-plugin-background-upload/blob/8cf5f6b9893bf4b57c6bb3e431cf931bb5fab25b/plugin.xml)
[Application.java](https://github.com/spoonconsulting/cordova-plugin-background-upload/blob/8cf5f6b9893bf4b57c6bb3e

[2021-07-09 09:54] phoenix503 opened #152 "Backgroundupload.init method is not defined"
<img width="856" alt="Screenshot 2021-07-09 at 3 23 23 PM" src="https://user-images.githubusercontent.com/67201039/125060159-b1be0200-e0c9-11eb-8249-566f586c7266.png">

Getting this screen when calling backgroundUpload.init

[2021-07-23 21:05] ombr commented on #152
Hi @phoenix503,

Can you confirm which version of background upload you are using ? Are you waiting for the deviceready event ?

Could you share a small reproduction app ?

Thanks in advance.

[2021-07-26 07:24] rudyZanotti opened #154 "iOS : 'AFURLSessionManager.h' file not found"
Hello,

I'm trying to use cordova-plugin-background-upload with Ionic & Capacitor. Npm does not have the latest version. I then add "cordova-plugin-background-upload": "git+https: //github.com/spoonconsulting/cordova-plugin-background-upload.git#2.0.3", to my package.json (the latest stable version according to the readme). Unfortunately I have the following error during the iOS build: 'AFURLSessi

[2021-07-26 16:04] keva91 opened #155 "Crash on Android"
Hi guys,

I tried to install your plugin first but my app crash after the second request (cordova-plugin-advanced-http) on Android.

I installed it with the command 'cordova plugin add https://github.com/spoonconsulting/cordova-plugin-background-upload.git#2.0.5'

The initialisation (**in device-ready event**):
![image](https://user-images.githubusercontent.com/8873491/127020595-affc1df5-47e1-41f6

[2021-07-28 13:08] dinitri-ragoo commented on #154
Hello @rudyZanotti ,

The version 2.0.3 does exist on npmjs, just make sure you are using the correct package id that is:
**@spoonconsulting/cordova-plugin-background-upload**

Here is the link:
https://www.npmjs.com/package/@spoonconsulting/cordova-plugin-background-upload

In your package.json:

`"@spoonconsulting/cordova-plugin-background-upload": "2.0.3"
`

The latest stable version is now 2.0

[2021-08-29 16:22] keva91 commented on #155
Some news ?

[2021-08-30 12:01] ombr commented on #155
Hi @keva91,

Can you test this ? https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/153

Thanks.

Luc

[2021-11-11 19:43] hanslbua opened #166 "Cannot install Plugin on Android"
Hello.

I have a problem installing the plugin in my cordova app uses Android and iOS.

On iOS there is no problem on installing the plugin, but on Android i get this Error:

`Failed to install 'cordova-plugin-background-upload': Error: cordova-plugin-background-upload cannot be added. <edit-config> changes in this plugin conflicts with <edit-config> changes in config.xml. Conflicts must be resolv

[2021-11-25 13:58] zafirskthelifehacker commented on #166
Hello @hanslbua

Thanks for using our plugin.

For the `requestLegacyExternalStorage` permission, you should use a `custom-preference` rather than `edit-config` as it is not the right way. Below is an example:

`<custom-preference name="android-manifest/application/@android:requestLegacyExternalStorage" value="true" />`

Also make sure that you are using Version 2 of the plugin:

`cordova plugin a

[2021-12-05 22:10] dilo99 commented on #166
i've the same problem with the error described by @hanslbua
i've tried to install the plugin with --force tag, but the cordova build command reveal another error:
`1: Task failed with an exception.
-----------
* Where:
Script '...\platforms\android\@spoonconsulting\cordova-plugin-background-upload\mobile-config.gradle' line: 2

* What went wrong:
A problem occurred evaluating script.

please help.

[2021-12-08 08:28] zafirskthelifehacker commented on #166
Hello @dilo99,

We have updated our plugin to support Android 12(API Level 31). You need to update the plugin to `2.0.6`.

`"@spoonconsulting/cordova-plugin-background-upload": "2.0.6"`

Make sure `cordova-android >= 10.0.0` is installed.

Regards,
Zafir
Spoon Consulting LTD

[2021-12-08 08:34] dilo99 commented on #166
Hello, thank you @zafirskthelifehacker , but the problem does not seem to be compatibility with the Android version.
We were able to find that the problem of changing the edit-config conflicting with another plugin was temporarily solvable by putting your plugin first in the list, so that it is installed first and the others below.  The second problem concerned the ext.cdvMinSdkVersion variable wh

[2021-12-16 16:45] jrochel opened #168 "dependency android-storage no longer available"
When trying to install the plugin I'm getting the following error:

[code]

The package com.sromku:simple-storage is in fact no longer available as it was hosted on the repository jcenter which no longer exists (https://mvnrepository.com/artifact/com.sromku/simple-storage).

[2021-12-17 13:49] sithwarrior commented on #166
@dilo99  how do you put the plugin "first in the list" ? as the package.json etc is sorted alfabetical ?

[2021-12-17 15:28] dilo99 commented on #166
@sithwarrior With "first in the list" I meant, first plugin in config.xml plugin list, that I think includes plugins in the order you declare in the config itself.
Try yourself, if you put this plugin in as my config.xml posted up here, the build fail, but If you put this plug in in top of the list in config.xml, the build works.

[2021-12-17 15:40] sithwarrior commented on #166
@dilo99  Ill try that out, but in newish projects, the plugins are not maintained in confix.xml anymore but in package.json
But there might be a fallback, that uses the plugin list in config.xml before package.json

[2021-12-20 08:31] zafirskthelifehacker commented on #168
Hello @jrochel

Can you please send us your configs(package.json, ....) and also specify your cordova-android version.

Also send us all the steps that you have to done to get this error so that we can reproduce it.

Regards,
Zafir
Spoon Consulting LTD

[2021-12-20 08:35] zafirskthelifehacker commented on #166
Hello @dilo99,

For the problem `Could not get unknown property 'cdvMinSdkVersion' for project ':app' of type org.gradle.api.Project.`, this has been resolved in Version 2.0.6.

As for the problem `edit-config`, we will releasing a new version soon without overwriting this config.

Regards,
Zafir
Spoon Consulting LTD

[2021-12-20 12:05] jrochel commented on #168
Also I'm using commandlinetools-linux-7583922_latest.

[2021-12-20 12:08] jrochel commented on #168
`cordova platform ls` yields
[code]

[2021-12-20 12:52] zafirskthelifehacker commented on #168
Hello @jrochel,

Can you please remove these lines:
- `"cordova-plugin-background-upload": "https://github.com/jrochel/cordova-plugin-background-upload"`
- `"cordova-plugin-background-upload": {}`

And also for the line `"@spoonconsulting/cordova-plugin-background-upload": "git+https://github.com/spoonconsulting/cordova-plugin-background-upload.git"`, use v2 branch or 2.0.7 version:
- `"@spooncons

[2021-12-20 13:45] jrochel commented on #168
Thanks, I have done as you ask, but the problem persists. Version 2.0.7 also references in `plugin.xml` the framework `com.sromku:simple-storage:1.2.0`, which is no longer available.

I'm still getting the error:
[code]

From which repository should this framework be downloaded?

[2021-12-23 07:38] zafirskthelifehacker commented on #168
Hello @jrochel,

This framework is using JCenter. Have you tried to add jcenter() in your build.grade. Like this below:

repositories {
    jcenter()
}

As for JCenter Deprecration(that may effective in February 2022 - https://blog.gradle.org/jcenter-shutdown#check), we will be working on a new version for that.

Regards,
Zafir
Spoon Consulting LTD

[2022-01-12 21:30] schematical commented on #168
Hey looks like `jcenter` is shutting down:
https://blog.gradle.org/jcenter-shutdown

I have heard rumor they are possibly keeping it up for read only but I can tell you that as of the moment it is 502ing. @zafirskthelifehacker any ideas?

[2022-01-12 21:34] schematical commented on #168
I was able to find that plugin on mavenCentral but there is no 4.0.0 it would appear: https://repo.maven.apache.org/maven2/net/gotev/uploadservice/

Just these versions:
![image](https://user-images.githubusercontent.com/260698/149224771-b497c8c0-49e2-4c3d-a8eb-63c40fd728b3.png)

[2022-01-13 17:41] schematical commented on #168
Just a heads up jcenter is back up today so the plugin can build again.

[2022-01-23 21:25] hanslbua opened #174 "Using plugin with capacitor throws error on androidx.lifecycle"
Hi, when i install the plugin with capacitor with the command line
`npm install @spoonconsulting/cordova-plugin-background-upload@latest`
i get an error after building the app.

**Error Msg:**
[code]

**Package.json**
"@spoonconsulting/cordova-plugin-background-upload": "^2.0.7",
"cordova-plugin-androidx": "^3.0.0",
"cordova-plugin-androidx-adapter": "^1.1.3"

Can someone help me with the problem?

[2022-01-24 08:43] #166 closed

[2022-01-24 08:45] #168 closed

[2022-01-24 09:32] sithwarrior commented on #166
@zafirskthelifehacker  Just to clarify, does this mean that release 2.07 fixes this issue?

[2022-01-24 10:27] zafirskthelifehacker commented on #174
Hello @hanslbua,

I have created an Test app with Ionic Capcitor and it is building the app successfully. Here is the package.json:

[code]

Regards,
Zafir.
Spoon Consulting LTD

[2022-01-24 10:43] hanslbua commented on #174
Hey. thanks for your answer.

i saw, that you dont installed the androidx and androidx-adapter plugin. i removed it now from my project.

which command do you use? **npm run build**? with that command it runs successfully.

but when i use: **iconic capacitor run android** it crashes

it also says: that i have to intall the dependencies androidx and androidx-adapter

cheers,
Hans-Peter

[2022-01-24 13:03] zafirskthelifehacker commented on #174
Hello @hanslbua,

I have run `ionic build` first and run `npx cap add android`. Then, I open the android folder on Android Studio. Try this and let me know.

Regards,
Zafir.
Spoon Consulting LTD

[2022-01-24 13:31] hanslbua commented on #174
Hey @zafirskthelifehacker,

thanks for your answer.

I tried it your way but get also the same error, but in Android Studio after running the app.

Cheers
Hans-Peter

[2022-01-24 13:32] hanslbua commented on #174
![image](https://user-images.githubusercontent.com/47261102/150791806-e78855b9-750f-45cd-a0f8-fa04f04373f6.png)

[2022-01-25 05:13] zafirskthelifehacker commented on #166
Hello @sithwarrior,

In Version 2.0.7, we added support for Android 12. You can view the changelog on this link: https://github.com/spoonconsulting/cordova-plugin-background-upload/blob/v2/CHANGELOG.md

Regards,
Zafir
Spoon Consulting LTD

[2022-01-25 05:18] zafirskthelifehacker commented on #174
Hello @hanslbua,

Can you specify the SDK Build Tools that you are using and also the `targetSDKVersion` for your app.

Regards,
Zafir.
Spoon Consulting LTD

[2022-01-25 08:28] hanslbua commented on #174
Hi @zafirskthelifehacker,

**settings.gradle**
[code]

Android SDK Build-Tools 32 (build-tools;32.0.0)

Cheers,
Hans-Peter

[2022-01-26 05:40] zafirskthelifehacker commented on #174
Hello @hanslbua,

Can you try Android SDK Build Tools version 30.0.3.

Regards,
Zafir.
Spoon Consulting LTD

[2022-01-27 09:33] hanslbua commented on #174
Hi @zafirskthelifehacker,

i tried with 30.0.2, 30.0.3 and 32.0.0 without succes :(

Cheers,
Hans-Peter

[2022-01-27 14:58] zafirskthelifehacker commented on #174
Hello @hanslbua,

Can you try to add this in your gradle.properties files(in android folder) and build again?

[code]

Regards,
Zafir.
Spoon Consulting LTD

[2022-01-27 20:03] hanslbua commented on #174
Hi @zafirskthelifehacker,

i have this setting allready in my gradle.properties file.

:(

cheers,
Hans-Peter

[2022-01-31 05:42] zafirskthelifehacker commented on #174
Hello @hanslbua,

As per this stackoverflow (https://stackoverflow.com/questions/49485847/error-cannot-access-lifecycleobserver), adding this Google repository can help(Add in `build.gradle` in the android folder):

[code]

If not, try to see other answers regarding this issue on the stackoverflow or try to create another project from scratch with only the plugin.

Regards,
Zafir.
Spoon Consulting

[2022-01-31 22:59] hanslbua commented on #174
Hey @zafirskthelifehacker,

this is my `build.gradle`
[code]

:( its so frustrating that its not working. i will try a new project tomorrow and let you know.

Cheers.

[2022-02-07 19:25] albertleao opened #178 "Unable to build"
Have had this plugin working for a while but recently ran into an issue where I cannot get my app to build anymore. I created a fresh app and tried to build with just this plugin and I'm still failing.

Cordova cli version 11.0.0
Android version 10.1.1
Plugin version 2.0.7

Error:

FAILURE: Build failed with an exception.

[code]

[2022-02-07 20:09] hughknaus commented on #178
@albertleao your plugin version is actually 1.1.0 in your example even though you specified that you are using plugin version 2.0.7 I too have been getting the same error when moving to Cordova Android 10. I found that `cordova plugin add cordova-plugin-background-upload@latest` actually installs 1.1.0.  I used `cordova plugin add https://github.com/spoonconsulting/cordova-plugin-background-upload

[2022-02-07 20:19] albertleao commented on #178
Yep, got it.

I created a branch and updated the framework source for both frameworks that were not found.

[code]

The problem now is that the `com.sromku:simple-storage:1.2.1` framework dependency can't be found. Looks like gradle isn't looking at the correct repo. trying to figure that out now.

Try building off this guy and at least the first 2 errors are gone

`https://github.com/albertleao/c

[2022-02-07 20:46] albertleao commented on #178
I see @[zafirskthelifehacker](https://github.com/zafirskthelifehacker) had a pull request to simply remove the simple storage framework. I have no idea whether or not this works. Going to give it a shot

https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/171

[2022-02-07 20:51] albertleao commented on #178
And the answer to that question is no
`test-app/platforms/android/app/src/main/java/com/spoon/backgroundfileupload/ManagerService.java:21: error: package com.sromku.simple.storage does not exist`

[2022-02-07 23:30] hughknaus commented on #178
What do we thing an alternative is?

[2022-02-07 23:36] albertleao commented on #178
I will spend some more time tonight and tomorrow. At this point I'd love to hear from the maintainers as it seems that anyone who clears out or starts a new android project is hosed. I was unable to get gradle to point to other repositories that may have the required framework.

[2022-02-08 06:58] dinitri-ragoo commented on #178
Hi @albertleao,
Please make sure the plugin name is prefix with @spoonconsulting. See example below.

[code]

[2022-02-08 14:48] hughknaus commented on #178
I had upgraded to using Gradle 7.1.1 (from 5.6.3) and found repositories.gradle had changed from:
`ext.repos = { google() jcenter() }`
to
`ext.repos = { google() mavenCentral() }`

Had read about JCenter shutdown and impact on Gradle builds, is this part of the issue?
https://blog.gradle.org/jcenter-shutdown#:~:text=The%20Gradle%20Build%20Init%20plugin,used%20as%20an%20example%20repository.&text=G

[2022-02-08 14:54] albertleao commented on #178
@hughknaus it built this way?

[2022-02-08 15:13] hughknaus commented on #178
Yeah, it built that way... I didn't modify it any way.  We have experimented with adding jcenter() back in but fully convinced that it solves everything... still trying to get a build through our CI/CD system.

[2022-02-09 03:55] albertleao commented on #178
I readded jcenter to my gradle repositories and am still getting the error.

[2022-02-09 14:41] hughknaus commented on #178
Our whole goal has been to upgrade to SDK Version 30, far from our ideal path, we updated `cordova-android` to 10.1.1 (11 for CLI), went back to 1.1.0 for `cordova-plugin-background-upload`, added `jcenter()` to repositories.gradle, and also had to add `cdvMinSdkVersion=24
cdvCompileSdkVersion=30
compileSdkVersion=30` to gradle.properties utilizing a before_build hook (because we were getting erro

[2022-02-09 15:58] bruffster commented on #178
@dinitri-ragoo for your successful builds with the cordova-plugin-background-upload, can you provide the following versions you are using in your build process:

- Android Cordova
- Gradle
- Android Gradle plugin
- cordova-plugin-background-upload

Working with @hughknaus, we've found we _have_ to add the jCenter() repo back into repositories.gradle in order to get past the errors specified above

[2022-02-10 04:21] Tioecomp opened #179 "Failed near end of progress"
I'm trying to use this plugin to send two types of files a .txt and a sqlite.db from my android device, the .txt file uploaded sucessfully but the database keeps failing at´94%.
my debug:
`uploading: Database progress: 0%
uploading: Database progress: 15%
uploading: Database progress: 40%
uploading: Database progress: 94%
upload: Database has failed`

my code:
`var uploader = window.util.UPLOADER;

[2022-02-10 06:38] zafirskthelifehacker commented on #178
Hello @albertleao @hughknaus @bruffster,

Make sure that you are using SDK 31 and also v2.0.7 of the plugin.

cordova: 10.0.0 (CLI)
cordova-android: 10.1.1
Gradle: 7.1.1
cordova-plugin-background-upload: 2.0.7
Android SDK Version: 30.0.3
Java Version: 11

We are targeting SDK version 31 in the config.xml:
`<preference name="android-targetSdkVersion" value="31" />`

Also make sure you have `jcenter

[2022-02-10 07:07] dinitri-ragoo commented on #179
Hi @Tioecomp ,
make sure you init the uploader like this:

[code]
please also make sure you are using the `@spoonconsulting/cordova-plugin-background-upload: 2.0.7` in your package.json

[2022-02-10 14:21] Tioecomp commented on #179
How can i install the v2.0.7? I tried cordova plugin add cordova-plugin-background-upload@2.0.7 but thats not the right way. I keep getting the 1.1.0 version.

[2022-02-10 15:14] Tioecomp commented on #179
I tried this: **cordova plugin add @spoonconsulting/cordova-plugin-background-upload** and i get this error.
`Failed to install '@spoonconsulting/cordova-plugin-background-upload': Error: @spoonconsulting/cordova-plugin-background-upload cannot be added. <edit-config> changes in this plugin conflicts with <edit-config> changes in config.xml. Conflicts must be resolved before plugin can be added.`

[2022-02-10 15:48] schematical commented on #178
@zafirskthelifehacker when you say "Also make sure you have `jcenter()`" is there a recommended way of adding it? I can manually do that locally but that wont work when someone else installs from source or our CICD goes to build it. How would you recommend adding `jcenter()` back in and to which files?

[2022-02-10 16:20] hughknaus commented on #178
@schematical to add jcenter() in we are using a before_build hook to overwrite `/platforms/android/app/repositories.gradle`

[2022-02-10 17:07] hughknaus commented on #178
@zafirskthelifehacker @dinitri-ragoo we are also seeing errors in logs when trying to upload an image on Android 11+ (Android 10 is working though):

2022-02-10 09:43:31.886 8432-8533/appname D/SERVER: Handling local request: http://localhost/83-es2015.811b6353bcb7a5829b14.js
2022-02-10 09:43:31.894 8432-8533/appname D/SERVER: Handling local request: http://localhost/svg/cloud.svg
2022-02-10 09:43

[2022-02-10 21:47] schematical commented on #178
I got it to build but now I am not getting the callback to fire at the end. Possibly related to https://github.com/spoonconsulting/cordova-plugin-background-upload/issues/109 ?

Logcat would make me think the upload was successful(and the file is uploaded) but no callback.
[code]

[2022-02-11 06:06] zafirskthelifehacker commented on #179
Hello @Tioecomp,

Do you have this line in the file where you are using FileTransferManager:

`declare var FileTransferManager: any;`

If not, try to add it and build again.

Regards,
Zafir.

[2022-02-11 23:52] hughknaus commented on #178
Further testing, I'm running into the same issue in #179 using 2.0.7, I have `declare var FileTransferManager: any;` in my file, I'm checking that the platform is ready and I get `...FileTransferManager is not defined`

[2022-02-12 01:38] hughknaus commented on #178
Through debugging on an emulator found that I don't see `@spoonconsulting/cordova-plugin-background-upload` in the /top/localhost/plugins folder where all the other Cordova plugins are, not sure why...
![image](https://user-images.githubusercontent.com/37626121/153691244-0831ab47-b4af-404d-8cad-ac875f8b1527.png)

[2022-02-12 03:05] albertleao commented on #178
Everything seems to be working for me when using `cordova-plugin-file-transfer 2.0.0-dev "File Transfer"`

[2022-02-13 03:13] hughknaus commented on #178
@albertleao That helped, I'm able to get a build, I'm getting `TypeError: emitter.on is not a function`, I know there are some breaking changes around the .on method with the event names changing so this may now be down to our code :crossed_fingers:

[2022-02-16 21:44] schematical opened #183 "Android: initManager was called twice"
Error:

[code]

So I added break points inside `cordova.js` the `androidExec` function and verified it was NOT getting called twice from the browser.

Thoughts?

[2022-02-17 11:23] zafirskthelifehacker commented on #183
Hello @schematical,

Can you please send your codes were you are using this plugin and also your `package.json`?

Regards,
Zafir

[2022-02-17 15:15] schematical commented on #183
[code]

  And package.json

[code]

[2022-02-19 21:39] hanslbua commented on #174
we can close it here. i fixed it by create a new project from scratch. now it works.

[2022-02-19 21:39] #174 closed

[2022-02-20 06:15] albertleao commented on #178
@hughknaus How's it going for you? My upload is working on android but none of my callbacks are ever being fired.

[2022-02-20 12:40] hughknaus commented on #178
I have all the callbacks working. I did have to thoroughly change our implementation since we are coming from v1.1. We of course had been using the .on method which no longer exists and the callback is now injected into the .init method. Not to mention you also need to implement the new .acknowledgeEvent method. There is some strangeness with errorCodes and the switching from v1 to v2 when you hav

[2022-02-20 14:08] albertleao commented on #178
Thank you so much for the info Hugh. I believe we had better luck with ios just working. Once I get android working I will give some feedback

[2022-02-21 05:37] zafirskthelifehacker commented on #183
Hello @schematical,

Make sure `"@spoonconsulting/cordova-plugin-background-upload": "^2.0.7"` is in dependencies and not dev-dependencies.

Also try to use `declare var FileTransferManager: any;` instead of `new window.FileTransferManager.init(...)`. CHeck the README for more details(**Sample usage**)

Regards,
Zafir.

[2022-02-23 05:34] albertleao commented on #178
@hughknaus Got my ios to build and upload, but none of the callbacks are working. I fixed my callback issue on android by ensure i called .destroy() after every upload.

[2022-02-26 04:36] ibrahimAboelsuod commented on #28
@l0stpenguin How do you make sure there is no spaces in the file paths? encoding the URL doesn't seem to have any effect.

[2022-03-02 10:28] rudyZanotti opened #189 "Upload directly on S3 (putObject)"
Hello,

I am currently trying to upload a video directly to S3 with a signed url retrieved just before ant the put object method.
The video arrives on the S3 bucket concerned, however it arrives corrupted. Indeed when I open the file here is the beginning of its content.

[code]

The latter seems to have recorded headers making it unreadable. This is my payload :

[code]

I am on iOS and this is m

[2022-03-02 15:54] hughknaus opened #190 ""duplicate symbols" related to AFNetworking"
I upgraded from 1.1.0 to 2.0.7 for Android.  I'm now working on upgrading the iOS side from `cordova-ios@5.1.1` to `cordova-ios@6.2.0`.  `cordova-plugin-background-upload@2.0.7` has a requirement to install `cocoapods`, which required an upgrade in ruby for us.  I also installed rubygems for `bundler` and `fastlane`. The iOS build results in "duplicate symbols" errors:
[code]
I found that `cordova

[2022-03-04 15:47] hughknaus commented on #190
Additionally, when I remove `cordova-plugin-background-upload` from my app I can build without getting the "duplicate symbols" errors (of course that is undesirable as we do need the functionality for background uploading).

[2022-03-07 16:04] ombr commented on #189
We just released a new version this morning. Can you try it ?

[2022-03-08 08:35] rudyZanotti commented on #189
it doesn't seem to work :'(

Here is the error message:
The request signature we calculated does not match the signature you provided. Check your key and signing method

Now even adding requestMethod: PUT in the payload does not seem to change the send method which remains a POST. And if I change it in the hard code I'm in the same situation as with the previous version

[2022-03-08 08:42] zafirskthelifehacker commented on #189
Hello @rudyZanotti,

Are you latest version? Also try to remove the `requestMethod` from JS code.

Regards,
Zafir.

[2022-03-08 08:54] rudyZanotti commented on #189
Hello @zafirskthelifehacker

This is my package.json :
    "cordova-plugin-background-upload": "github:spoonconsulting/cordova-plugin-background-upload#4.0.0",

And package.json plugin :
  "name": "@spoonconsulting/cordova-plugin-background-upload",
  "version": "4.0.0",

I see that in the FileUploader.m (iOS) line 131 it says "POST" in hard while I want to do a PUT on my S3

[2022-03-08 09:27] zafirskthelifehacker commented on #189
Hello @rudyZanotti,

Make sure in your package.json, the config is like this:
`"@spoonconsulting/cordova-plugin-background-upload": "4.0.0"`

And yes, we don't have `requestMethod` in the payload, try to modify `FileUploader.m` to cater for PUT method.

Regards,
Zafir.

[2022-03-08 09:34] rudyZanotti commented on #189
Yes i have the latest version.

Even if I change FileUploader.m to use the PUT method, I get the same result as my first post (beginning of issue)

[2022-03-08 10:33] zafirskthelifehacker commented on #189
Hello @rudyZanotti,

Try to include "Content-Decomposition": "............." in your headers.

Also you should check this guide as I think you might have to use Multipart uploads on S3: https://docs.aws.amazon.com/AmazonS3/latest/userguide/mpuoverview.html

Regards,
Zafir.

[2022-03-09 15:10] hughknaus commented on #190
@zafirskthelifehacker  Thank you, I'll give it a try today.

[2022-03-09 17:03] hughknaus commented on #190
@zafirskthelifehacker with https://github.com/spoonconsulting/cordova-plugin-advanced-http/pull/3 we were able to get a build and the app runs! A step in the right direction.  We have to do some additional testing to do on our side but it definitely looks promising!  Thanks again.

[2022-03-10 05:35] zafirskthelifehacker commented on #190
Hello @hughknaus,

Great to hear that. After you complete the tests, can you try to merge this PR(https://github.com/spoonconsulting/cordova-plugin-advanced-http/pull/3) on the base repository(https://github.com/silkimen/cordova-plugin-advanced-http)?

Thanks.

Regards,
Zafir.

[2022-03-10 06:28] zafirskthelifehacker commented on #190
We have already created a PR there: https://github.com/silkimen/cordova-plugin-advanced-http/pull/459. Try to see if it can be merged.

Regards,
Zafir.

[2022-03-23 10:24] athouary opened #199 "Could not find com.sromku:simple-storage:1.2.0"
Hi! Thanks for the helpful features you provide through this plugin.

I'm trying to use the version 4.0.0.

## Library versions
Cordova **11.0.0** (also tested on 10.0.0)
Android platform **10.1.1**
Gradle **7.4.1**
@spoonconsulting/cordova-plugin-background-upload **4.0.0**

## Encountered issue
When I run `cordova run android`, I expect the build to succeed but I get the following error:
[code]

[2022-03-23 10:46] athouary commented on #199
Ok just found https://github.com/spoonconsulting/cordova-plugin-background-upload/issues/178.

Closing this issue since it's a duplicate.

[2022-03-24 17:05] Kcarpenter528 opened #203 "minCompileSDK(31) specified in a dependency's AAR metadata androidx.work:work-runtime:2.7.1"
Getting this error message when attempting to build on latest released plugin v4.0.2:
Execution failed for task ':app:checkDebugAarMetadata'.

     dependency's AAR metadata (META-INF/com/android/build/gradle/aar-metadata.properties)
     is greater than this module's compileSdkVersion (android-30).
     Dependency: androidx.work:work-runtime:2.7.1.
     AAR metadata file: .gradle/caches/transform

[2022-03-25 08:17] zafirskthelifehacker commented on #203
Hello @Kcarpenter528,

Make sure you have set both `compileSdkVersion` and `targetSdkVersion` to 31 in your Gradle files.

Regards,
Zafir.

[2022-04-12 16:06] nvahalik commented on #203
Seeing the same issue here.

The `targetSdkVersion` must be `31` in your `config.xml` file, though the `minSdkVersion` can still be lower than that.

Additionally, there may be other projects that have to be updated. Some of the other plugins do not officially support Android 12 and as of writing this the release of `cordova-android` which officially supports Android 12 (10.1.2, 11.0.0) doesn't ap

[2022-04-13 07:32] zafirskthelifehacker commented on #203
Hello @nvahalik,

You can review the updated demo project as we have updated the `targetSdkVersion` to 31,  `cordova-android` and `cordova` to the lastest version. Everything is working fine. PR https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/214.

Regrads,
Zafir.

[2022-04-14 12:23] maxcodefaster commented on #86
How did you device the formdata to use the PUT method?

[2022-04-15 08:08] maxcodefaster opened #219 "How to modify FileUploader.m to use basic PUT request (not multipart)"
Like others, I also have the use case of PUTting a file directly into S3 storage. I have successfully changed the UploadTask.java file to use a simple PUT request: https://github.com/maxcodefaster/cordova-plugin-background-upload/blob/master/src/android/UploadTask.java#L342

Can you please help me to modify the FileHelper.m to do the same for iOS? I tried, but i am not familiar with Objective-C.

[2022-04-15 10:51] zafirskthelifehacker commented on #219
Hello @maxcodefaster,

https://github.com/spoonconsulting/cordova-plugin-background-upload/blob/dfa0f4267b9a08b849c64b4ad0b76c1fd0191b39/src/ios/FileUploader.m#L131

`[serializer multipartFormRequestWithMethod:@"POST"`

You can change this line to `PUT` rather than `POST`

As not multipart requests, use `requestWithMethod` rather than `multipartFormRequestWithMethod`

Regards,
Zafir

[2022-04-15 17:17] nvahalik opened #220 "Uploads fail due to multipart/mixed"
This plugin works very well on iOS but while testing on an Android 10 device, the uploads are not working for us.

Our target system is running PHP and uploads on Android fail with a redirect.

After adding:

    bodyBuilder.setType(MultipartBody.FORM);

Under

    final MultipartBody.Builder bodyBuilder = new MultipartBody.Builder();

In `UploadTask.java` and redeploying, the uploads are working

[2022-04-19 10:49] zafirskthelifehacker commented on #220
Hello @nvahalik,

I have merged your PR and published on version `4.0.5`.

Regards,
Zafir.

[2022-04-19 11:10] #220 closed

[2022-05-02 22:06] nvahalik opened #225 "UPLOADED event fires off when the responseCode is 4xx"
We are getting these when doing an upload:

    {
      "id": "d2dc0170-c4ae-11ec-9b23-f318f271c241",
      "eventId": "d2dc0170-c4ae-11ec-9b23-f318f271c241",
      "state": "UPLOADED",
      "serverResponse": "<html>\\n<head><title>413 Request Entity Too Large</title></head>\\n<body>\\n<center><h1>413 Request Entity Too Large</h1></center>\\n<hr><center>cloudflare</center>\\n</body>\\n</html>\\n"

[2022-05-04 06:51] zafirskthelifehacker commented on #225
Hello @nvahalik,

On which platform are you receiving this problem?

Regards,
Zafir.

[2022-05-04 15:08] nvahalik commented on #225
Android seems to be the only one exhibiting the issue.

On 4 May 2022, at 1:51, Sk Heerah Zafir wrote:

[2022-05-05 01:52] ombr commented on #225
I think this is expected. You should check the status code on your side. You will only get a failure if the request did not went through.

[2022-05-05 21:17] ombr commented on #225
@nvahalik I understand this is not intuitive. This library was created from this library and was following the same principle (at that time) https://github.com/gotev/android-upload-service/issues/259 (you should check the issue).

You are more than welcome to submit a pull-request for this.

One thing to keep in mind is that we might want to save the response even if the status code is > 400 as we

[2022-05-23 07:10] maxcodefaster commented on #219
Made a Fork here: https://www.npmjs.com/package/cordova-plugin-background-upload-put-s3

[2022-05-23 07:10] #219 closed

[2022-05-23 07:10] maxcodefaster commented on #189
Made a Fork here: https://www.npmjs.com/package/cordova-plugin-background-upload-put-s3

[2022-05-23 07:10] maxcodefaster commented on #62
Made a Fork here: https://www.npmjs.com/package/cordova-plugin-background-upload-put-s3

[2022-05-23 07:25] zafirskthelifehacker commented on #189
Hello @maxcodefaster,

Can you do a PR on this repository? We will review and merge it here. Also you can make pass the method request as a parameter so that it is configurable.

Regards,
Zafir

[2022-06-05 09:56] dennismuench opened #229 "Upload fails silently when using cordova-labs-local-webserver on iOS"
Some project setups will not produce `file://` urls when `FileEntry.toURL` is called within `startUpload` to prepare the `payload.filePath`.

https://github.com/spoonconsulting/cordova-plugin-background-upload/blob/867ecd2720d2c5b2fa453f4531d02165c1387adf/www/FileTransferManager.js#L54

This will at least be the case when using `cordova-labs-local-webserver` or any other local web-server.

Because

[2022-06-05 10:08] dennismuench commented on #229
I prepared a pull request with a simple fix which solved this issue for me. It should cover any possible scheme as well as the use of CDVWKWebView. Tested on iOS and Android.

[code]

[2022-06-08 07:49] zafirskthelifehacker commented on #229
Hello @dennismuench,

I will do some tests and revert back to you.

Regards,
Zafir.

[2022-06-08 07:51] #64 closed

[2022-06-08 07:51] #62 closed

[2022-06-08 07:52] #89 closed

[2022-06-08 07:54] #109 closed

[2022-06-08 07:55] #126 closed

[2022-06-28 10:48] #229 closed

[2022-07-04 16:15] HamzaGa opened #233 "Upload by 64encoded content not uri path + Background Download"
Hi,

Is it possible to upload file using 64encoded string rather than path ? Because I can't get the path from the native media picker on android and ios (due to filesystem security reasons they say). It only returns the photo content as 64encoded string.

Is it also possible that I use this plugin for Background Download ? (same need as background upload but in the other way)

Thanks in advance

[2022-07-05 07:56] zafirskthelifehacker commented on #233
Hello @HamzaGa,

Only File Path is possible to upload files right now. For filesystem security reasons, you can try to rewrite the file before sending it to the plugin.

And this plugin supports only upload and not download.

Regards,
Zafir.

[2022-07-05 08:19] zafirskthelifehacker commented on #233
Hello @HamzaGa,

You can also open PRs for supporting Base-64 encoded string and also for the upload functionality as these are not our priorities for now. Thanks.

Regards,
Zafir.

[2022-07-17 13:13] HamzaGa commented on #233
Hi,

I am looking for someone to hire to build the background download plugin for me.

If anyone is interested, please reach to me at hamza.gaaliche@gmail.com

Regards

[2022-07-19 16:09] dogofpavlov opened #234 "File Upload's don't work if the file has a "space" in the filename. IOS & Android"
It looks like the plugin doesn't work if there is a " " (space) in the filename of what you're trying to upload. It just sits there and doesn't fire anything in the callback handler. All other instances work fine.

As a workaround I have a flow that copies the file somewhere with all the spaces turned to underscores and then I upload that... but this isn't preferable especially with large file upl

[2022-07-20 10:21] zafirskthelifehacker commented on #234
Hello @dogofpavlov,

You are welcome to provide a PR to correct this behaviour.

Thanks

[2022-07-27 20:47] jdwirrenga opened #235 "File not found (Android)"
I am getting a File not found error running on Android that I am not getting in iOS when running a sim from xCode.

Here is the output:
[code]

I am not sure what is converting "file:\/\/\/storage\/emulated\/0" to "__cdvfile_sdcard__" in the filepath but that seems like it might be a problem? Additionally, maybe the file system on the computer via the ios sim is simply not a valid sim of what it w

[2022-08-04 21:19] hughknaus opened #236 ""cordova-plugin-file@6.0.2" does not satisfy dependency plugin requirement"
Trying to use `cordova-plugin-file-transfer` in the same project that I'm using `cordova-plugin-background-upload`.  However, with `ionic repair` the corodova prepare phase fails with:
[code]
`cordova-plugin-background-upload` has a dependency on `cordova-plugin-file@6.0.2` while `cordova-plugin-file-transfer` has a dependency of `cordova-plugin-file@>=7.0.0`, how can these be used in the same pro

[2022-08-05 06:29] zafirskthelifehacker commented on #236
Hello @hughknaus,

You can try to increase the dependency on our plugin. (Create a PR and we will do some tests and merge it)

https://github.com/spoonconsulting/cordova-plugin-background-upload/blob/058291b70940cb74981befedd9b49afffb53b927/plugin.xml#L16

or you can do the reverse.

Regards,
Zafir

[2022-08-05 06:57] zafirskthelifehacker commented on #235
Hello @jdwirrenga,

Can you send us your `package.json` and your `config.xml`

Regards,
Zafir.

[2022-08-05 12:56] jdwirrenga commented on #235
I am using latest version of ionic capacitor so there is no config.xml, so let me know what you're looking for and I can send that as well. I originally had the cordova-plugin-background-upload package instead of the @spoonconsulting one but I could not get it to build on android because of old versions of things.

[package.txt](https://github.com/spoonconsulting/cordova-plugin-background-upload/f

[2022-08-05 14:59] hughknaus commented on #236
PR: Update dependency of cordova-plugin-file version -- https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/237

[2022-08-08 10:21] zafirskthelifehacker commented on #236
Hello @hughknaus,

Will test the PR and let you know.

Regards,
Zafir.

[2022-08-08 10:40] zafirskthelifehacker commented on #235
Hello @jdwirrenga,

As you are using capacitor, you can send us the `capacitor.config.json`.

Also are you using this package `"@awesome-cordova-plugins/background-upload": "^6.0.0-alpha.4"`. If not, try to remove it in your `package.json` and run the app again.

Also let us know which version of XCode, iOS, Emulator Device, ... you are using.

Regards,
Zafir

[2022-08-08 14:53] jdwirrenga commented on #235
@zafirskthelifehacker I am using the @awesome-corodova-plugins package. I tried removing it and importing from @spoonconsulting but I can't get ionic to recognize it as a module. I know for a fact I tried not using @spoonconsulting and nothing would even compile. I also tried following the readme to set up the uploader but couldn't get any of that to work.

All the xcode emulators and the iPad I r

[2022-08-09 07:08] zafirskthelifehacker commented on #235
Hello @jdwirrenga,

Based on the error, the path that is given from the capacitor is not recognized by the native side for Android.

To fix that you can use `cordova.file.dataDirectory` from `cordova-plugin-file` to rewrite the file path before sending it to the plugin.

Regards,
Zafir.

[2022-08-10 21:11] jdwirrenga commented on #235
@zafirskthelifehacker I tried file.moveFile to file.dataDirectory but it still was unable to upload the file. Why does it always look in the /__cdvfile_sdcard__/ directory even when you pass in the file such as file:///data/user/0/com.name.app/files/VID_20220726_085410110.mp4? I noticed that if you get the fileEntry and do toInternalURL() or toURL() that they give you this same path effectively, E

[2022-08-11 05:42] zafirskthelifehacker commented on #235
Hello @jdwirrenga,

As what I am seeing, you are passing `fileEntry.toInternalURL()` to Background Upload. You should use `fileEntry.nativeURL` instead as Background Upload take these kind of inputs(e.g. `file:///storage/emulated/0/DCIM/Camera/VID_20220726_085410110.mp4`)

`this.rest.backgroundUploadFile('/Profile/UploadVideo', videoId.toString(), fileEntry.nativeURL, "file").subscribe()`

Somethi

[2022-08-11 12:49] jdwirrenga commented on #235
@zafirskthelifehacker I tried all of them including nativeURL, they all give the same error. Which is to say neither
file:///storage/emulated/0/DCIM/Camera/VID_20220726_085410110.mp4 nor file:///data/user/0/com.appname.app/files/VID_20220726_085410110.mp4 worked either.

[2022-08-11 13:59] zafirskthelifehacker commented on #235
Hello @jdwirrenga,

Have you request the permission `READ_EXTERNAL_STORAGE` in your app? If not, try to do that and continue to use `nativeUrl`.

You can try to use `WRITE_EXTERNAL_STORAGE` if the error persists.

Regards,
Zafir.

[2022-08-11 14:04] jdwirrenga commented on #235
@zafirskthelifehacker this is what I have for permissions in the android app so far:
[code]
As I look at my AndroidManifest.xml I do notice this
[code]

Is it possible I need something similar for the background upload with the `android:grantUriPermissions="true"` ?

[2022-08-12 10:42] zafirskthelifehacker commented on #235
Hello @jdwirrenga,

You can try the `android:grantUriPermissions="true"`. Also try on different devices.

Have you tried an image file(jpg, png, ...)? If not, you can try this and let me know.

Regards,
Zafir.

[2022-08-12 18:24] jdwirrenga commented on #235
@zafirskthelifehacker Tried on a Pixel 5 as well and got the same error. Tried a jpg and got the same error.

[2022-08-16 06:10] zfir commented on #235
Hello @jdwirrenga,

Try to add `android:requestLegacyExternalStorage="true" ` in the generated AndroidManifest.xml file of Android Studio.

Regards,
Zafir.

[2022-08-16 08:16] zfir commented on #236
Hello @hughknaus,

This version of `cordova-plugin-file` has a problem when displaying an `img` in the WebView.

https://github.com/apache/cordova-plugin-file/issues/526

The link above address this issue.

Regards,
Zafir.

[2022-08-16 11:18] hughknaus commented on #236
@zfir  Yeah, I believe we were running into it on Android as well.  iOS seemed to be okay though.

What are the plans for resolving these issues? Do you know the timeframe for resolution?

[2022-08-17 05:58] zfir commented on #236
Hello @hughknaus,

No idea. We need to wait for Apache to release a new version. For now, I would recommend you to try to downgrade the dependency of `cordova-plugin-file-transfer` to `6.0.2` and test again.

Regards,
Zafir.

[2022-08-19 14:02] jdwirrenga commented on #235
@zfir I added that line and two others to my manifest so that it looks like below, but am still getting the error.
[code]

[2022-08-19 14:05] jdwirrenga commented on #235
@zfir I found this stackoverflow about using old storage while targeting version 30 or higher...I am targeting 31 which I believe I had to in order to even get this package to compile in Android:
https://stackoverflow.com/questions/63364476/requestlegacyexternalstorage-is-not-working-in-android-11-api-30

[2022-08-22 06:16] zfir commented on #235
Hello @jdwirrenga,

Have you found the fix?

Based on this StackOverflow, Google suggested to use MANAGE_EXTERNAL_STORAGE permission(https://developer.android.com/training/data-storage/manage-all-files). You can try that also.

Regards,
Zafir.

[2022-08-24 21:01] jdwirrenga commented on #235
@zfir No I haven't found a fix. I added the MANAGE_EXTERNAL_STORAGE permission but that did not help.

I suspect a workaround would be to find a version which allows me to bump android down to 29 but still new enough to prevent other problems.

I think maybe I will just take the time to make a repo you can checkout and test the error yourself. However, it might be a little while before I have time

[2022-08-25 13:16] jdwirrenga commented on #235
@zfir I had a little time to set the repo up. I must be missing one piece though because it does everything except actually kick off the upload it seems. But if that one issue was fixed it should be an exact repro of my issue.

https://github.com/jdwirrenga/CordovaUploadAndroidBug

[2022-08-26 08:25] zfir commented on #235
Hello @jdwirrenga,

I am getting this error when running  on Android:

![image](https://user-images.githubusercontent.com/21692092/186858057-9d2d542b-32f0-4476-938d-140a55d70f38.png)

Regards,
Zafir.

[2022-08-26 13:14] jdwirrenga commented on #235
@zfir where did you see this error at? I could not repro on my machine. I did however add the package to the repo but I'm still getting the same thing in the output where it gets to this line
```D/CordovaBackgroundUpload: eventLabel='Uploader starting upload' uploadId='1'```

Which should be followed immediately by the error but no error. Just in case I tried added the core package to my actual pr

[2022-08-29 06:28] zfir commented on #235
Hello @jdwirrenga,

When doing `ionic capacitor run android` I am getting this error. How do you run the project?

Regards,
Zafir.

[2022-08-29 15:58] jdwirrenga commented on #235
@zfir I typically run on an android device by first opening Android Studio with ```ion cap open android``` and then apply changes as needed with ```ion cap copy android``` and run it each time. ```ion cap sync android``` on occasion as well of course.

It really bothers me the repo I made doesn't hit the error like the actual project does. It seems like it doesn't actually "do work" or something l

[2022-08-30 08:21] zfir commented on #235
Hello @jdwirrenga,

So this repository is not getting the same file path error as your actual project? This repository does not start the uploads based on your comments. I would recommend you to include Logs in the Background Upload Plugin and checks where it stops.

As for running your repository `ion cap copy android`, I am still getting the errors. Can you commit your `./www` also.

Regards,
Za

[2022-09-27 08:27] ckamil commented on #235
@jdwirrenga Did you manage to solve the problem? I have the same error

I also use  capacitor but sdk version 32

![Screenshot_20220927_102132](https://user-images.githubusercontent.com/29048142/192473533-47d928c4-6501-40d0-b478-65e8fecefd25.png)

[2022-09-28 18:41] jdwirrenga commented on #235
@ckamil unfortunately I have not had more time to look into this error. We have been focusing on launching for iOS so this was put on the backburner. I still suspect that there is a magic version number between Android and the plugin that just needs to be found. I don't think it is a permissions problem anymore. I think the location of things has simply changed.

If you find the solution please le

[2022-09-29 10:30] zfir commented on #235
Hello @jdwirrenga,

We are already building a cordova app with SDK Build Tools 30 with no problems. When upgrading to SDK Build Tools 32 if we overcome any problem, we will surely fix the plugin.

If ever you are able to find any solution, pull requests are most welcome.

Regards,
Zafir.

[2022-09-29 10:59] ckamil commented on #235
@jdwirrenga @zfir thanks for the reply, unfortunately I can't go lower with the SDK, so it will be nice if there is a fix in the near future

[2022-09-30 12:26] ckamil commented on #235
@jdwirrenga @zfir the problem is here [FileTransferManager.js#L54](https://github.com/spoonconsulting/cordova-plugin-background-upload/blob/master/www/FileTransferManager.js#L54)

when I replace
`payload.filePath = new URL(entry.toURL()).pathname.replace(/^\/local-filesystem/, '')`

to
`payload.filePath = payload.filePath.replace("file://", "")`

then the upload works properly

![Screenshot_202209

[2022-09-30 14:42] jdwirrenga commented on #235
@ckamil great find! What file path were you sending? Is it the capacitor one or did you do something with FileEntry first?
@zfir any chance this can get put into a pull request and pushed out in the near future?

[2022-09-30 17:09] ckamil commented on #235
@jdwirrenga url in the form file:///data/user/0/com.example/files/photo_0__1664542670860.png taken from the Filesystem.writeFile method

[2022-10-03 06:14] zfir commented on #235
Hello @jdwirrenga @ckamil,

@ckamil Nice. I would recommend you to submit a PR, we will try to review and merge it as fast as we can. Thanks.

Regards,
Zafir.

[2022-10-07 12:16] ckamil commented on #235
@zfir I do not know what exactly should be here, in my app I have so:

[code]

[2022-10-07 12:28] zfir commented on #235
Hello @ckamil

I think for the android part, it should be something like:
`payload.filePath = entry.toURL().replace('file://', '')`

Try this and let me know.

Regards,
Zafir.

[2022-10-07 12:35] ckamil commented on #235
@zfir this won't work because entry.toURL() returns the wrong url:

`http://192.168.88.223:8100/__cdvfile_sdcard__/Documents/photo_0__1665145973561.png`

[2022-10-07 12:57] zfir commented on #235
@ckamil Create a PR with changes that you have made. I will test and let you know.

[2022-11-12 17:00] gbrits opened #247 "Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent"
After upgrading to the latest Ionic, latest Capacitor, latest Angular etc on an old app, I eventually got to the point where I was testing the background upload tasks and this error started to arise.

It should be noted I had to include:
[code]

in my `android/app/build.gradle` to overcome okhttp issues with this plugin, and then the PendingIntent errors started popping up. The tasks get backgroun

[2022-11-13 09:25] gbrits commented on #247
This is the output every time I try to upload, I'm using Ionic 6 in Angular. Everything works fine on iOS but not on Android :(
I have changed URLs and naming to protect the privacy of the project, but the rest of the output is exact.

It appears to schedule the background task but not fire it, it just gets enqueued. Pleeeease help.

[code]

[2022-11-14 14:26] zfir commented on #247
Hello @gbrits,

Can you send me your `package.json`, `config.xml` and your payload that you are sending when uploading your file.

[2022-11-14 15:59] jdwirrenga commented on #235
@dennismuench might you have a solution for this? I see you are the last commit for this line of code.

[2022-11-16 04:52] deadshot2491 opened #250 "Is there a way to get the list of pending upload tasks?"
Thanks for the plugin first of all!

I have one need which seems to be a simple one. I was thinking there will be a function to get the pending tasks currently, but it doesnt seem to exist and we just have to wait for the notification once we trigger an upload. Can we have a function or property exposed in js part to get the list of pending tasks (+failed ones also will be great!)?

[2022-11-16 06:46] zfir commented on #250
Hello @deadshot2491,

There is no function that is available now to get the list of pending uploads. To be able to do that I think we should save all the uploads in sqlite and also save the state of each upload.

Thanks for the suggestion, we will try to look into if we have time. But if you want to help, a PR will be most welcome.

[2022-11-16 07:11] ombr commented on #250
I think you will have to store the list of upload in your side. We are trying to keep the plugin as simple as possible and thus you should manage the uploads on your side.

[2022-11-16 19:04] gbrits commented on #247
My `config.xml`:
[code]

My `package.json`:
[code]

The `payload`:
[code]

[2022-11-17 04:43] gbrits commented on #247
Ok so since upgrading to Angular 11.0 and updating a bunch of the toolkits as a result, I'm now getting the unable to find file error when trying to upload. Never been so happy to see an error!

I also think I was using `cordova-plugin-background-upload` and had to delete that, to use this library.

* Attempting to upload via fileUri from a transcoder. Will update here with the fix for that.

Upda

[2022-11-17 04:46] gbrits commented on #247
The URI that is failing to upload:

`FileURI:`
[code]

[2022-11-17 05:27] gbrits commented on #236
I'm using `cordova-plugin-ns0m-file-transfer` - does this fix your problems? I am still running into a file not found issue though, but I'm thinking that's a URL `file://` thing that I can hopefully fix soon.

[2022-11-17 06:09] gbrits commented on #235
Hi @zfir & @jdwirrenga - I just got my app uploading 🚀  (after 2 days of suffering haha)

Firstly, I just add `file:///` to the front of my fileUri when sending it as a payload. Also, I had no success until I changed the permissions in my manifest, try matching yours to these & trying again?

[code]

[2022-11-17 13:25] zfir commented on #247
Hello @gbrits,

I am seeing in your package.json that you are using not the latest version: 4.0.7

Make sure to include the installation like this in you package.json:

`"@spoonconsulting/cordova-plugin-background-upload": "4.0.7"`

[2022-11-17 13:40] gbrits commented on #235
@zfir I'm facing an issue now where the upload is going ahead just fine, but the percentage indication & the completion is not indicated on the app. Could you confirm the event statuses being sent back?

[code]

[2022-11-23 09:05] MaximBelov commented on #235
Hi

you can see changes for  support android 11+ and cordova-plugin-file v7.0.0
https://github.com/spoonconsulting/cordova-plugin-background-upload/pull/252

[2022-11-29 21:31] matheuscas commented on #139
I've just got the same issue. The iOS version is the 16.1.1 on a iPhone 13 Pro Max. Here's the error and how is initialized and used.

**Error:**
[code]

**Init:**
[code]

**How is used:**
[code]

The upload works fine, but at the end, the error message is presented and the app freezes/crashes.

[2022-11-30 08:19] zfir commented on #139
Hello @michitosh,

Can you send me your version of background upload you are using.

[2022-11-30 08:20] zfir commented on #139
Hello @matheuscas ,

Can you send me your version of background upload you are using.

[2022-11-30 13:02] matheuscas commented on #139
Hey @zfir , thanks for asking, here my dependencies:
[code]

[2022-11-30 14:16] zfir commented on #139
Hello @matheuscas,

You should install this version :
`cordova plugin add @spoonconsulting/cordova-plugin-background-upload`

Also make sure the version is `4.0.7`, `1.1.0` is outdated.

[2022-11-30 14:16] matheuscas commented on #139
Hey @zfir , one more information that maybe can help you, I believe. Here the steps:
- As soon as I press "Upload all" button to upload all photos I lock the phone
- Everything stays fine until I unlock the phone and get back to the app.
- After that, I get the above mentioned exception and the app crashes.

I hope that this helps you.

[2022-11-30 14:23] zfir commented on #139
Hello @matheuscas,

Can you try this and let me know if you have the same error

[2022-11-30 16:27] matheuscas commented on #139
@zfir Problem solved. Since I'm using Capacitor, I npm installed `@spoonconsulting/cordova-plugin-background-uploa` and `cordova-plugin-file` rather than adding it using `cordova` command. The only errors showed after unlocking the phone were below, but they didn't crash the app. Thank you for your help and for your work on this plugin.

[code]

[2022-11-30 16:32] matheuscas commented on #155
Just trying to help folks here. @keva91 can you try it again to check if we can close this issue?